{% extends "layout.html" %}
{% block content %}
<!--Project section Start-->
    <section class="home-section align-items ">
    <div class="container">
        <div class="row ">
            <div class="section-title">
                <h2>PROJECTS</h2>
            </div>

            <a href="https://www.simplify3x.com/products/"><img src="static/images/office.jpg" class="bank"></a>
            <h1 class="one">SimplifyQA</h1>

        </div>
    </div>
    </section>
<!--Project section End-->

{% endblock content%}
